.square {
  background: #fff;
  border: 1px solid #999;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  padding: 0;
  text-align: center;
  width: 34px;
  display: inline-block; /* Изменено с float на inline-block */
}

.square-panel {
  background: #00a2ff;
  border: 1px solid rgb(0, 81, 255);
}

.square-disabled {
  background: #333; /* Темный фон для неактивной кнопки */
  color: #fff; /* Белый текст для контраста */
  border: 1px solid #666; /* Более светлый бордер для неактивной кнопки */
  cursor: not-allowed; /* Указатель "нельзя" при наведении */
}

.board {
  display: flex;
  flex-direction: column; /* Устанавливаем вертикальное направление для строк */
  margin: 50px;
}

.board-row {
  display: flex; /* Используем flexbox для строк */
}

.board-header {
  display: flex;
}

.board-header-cell {
  width: 34px; /* Ширина ячейки */
  height: 34px; /* Высота ячейки */
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.board-container {
  display:flex;
}
.container {
  display: flex;
}

.item {
  margin-right: 10px; 
}

.item:last-child {
  margin-right: 0;
}

.navbar {
  display: flex;
  justify-content: space-between; /* Распределяет элементы по краям */
  align-items: center; /* Выравнивает элементы по вертикали */
  padding: 10px 20px; /* Отступы внутри navbar */
  background-color: #f8f9fa; /* Цвет фона */
  border-bottom: 1px solid #dee2e6; /* Нижняя граница */
}

.userInfo {
  flex: 0 0 100px; /* Фиксированная ширина для userInfo */
  text-align: left; /* Выравнивание текста по левому краю */
  margin-right: 10px; /* Отступ справа для разделения */
  overflow: hidden; /* Скрывает переполнение */
  white-space: nowrap; /* Запрещает перенос строк */
}

.navButtons {
  display: flex; /* Выравнивание кнопок по горизонтали */
  justify-content: center; /* Центрирует кнопки */
  flex: 1; /* Занимает пространство по центру */
}

.button-nav {
  margin: 0 10px; /* Отступы между кнопками */
  text-decoration: none;
  padding: 10px 15px; /* Отступы внутри кнопок */
  border: none; /* Убирает границу */
  border-radius: 5px; /* Закругленные углы */
  background-color: #007bff; /* Цвет фона кнопок */
  color: white; /* Цвет текста кнопок */
  cursor: pointer; /* Указатель при наведении */
}

.logout-btn {
  padding: 10px 15px; /* Отступы внутри кнопки выхода */
  text-decoration: none;
  margin: 10px;
  border: none; /* Убирает границу */
  border-radius: 5px; /* Закругленные углы */
  background-color: #dc3545; /* Цвет фона кнопки выхода */
  color: white; /* Цвет текста кнопки выхода */
  cursor: pointer; /* Указатель при наведении */
}

/* Стили для модального окна */
.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Затемнение фона */
  z-index: 1000; /* Убедитесь, что модальное окно поверх всего */
  overflow: hidden; /* Блокируем прокрутку основного окна */
}

.modal-navbar {
  z-index: 990;
}

.modal-dialog {
  background-color: white; /* Цвет фона модального окна */
  border-radius: 8px; /* Закругленные углы */
  width: 80%; /* Максимальная ширина модального окна (80% от ширины экрана) */
  margin: 20px; /* Отступы от краев экрана */
  max-height: 80%; /* Максимальная высота модального окна */
  overflow-y: auto; /* Прокрутка по вертикали, если содержимое превышает высоту */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Тень */
}

.modal-header, .modal-footer {
  justify-content: center;
}

.modal-title {
  margin: 10px; /* Убираем отступы */
  text-align: center;
}

.modal-body {
  justify-content: center;
  margin: 3px;
  padding: 1px 20px; /* Отступы для тела модального окна */
}
.game-history {
  border: 1px solid #ccc; /* Граница вокруг каждого элемента истории */
  border-radius: 8px; /* Закругленные углы */
  padding: 5px; /* Внутренние отступы */
  margin: 5px 0; /* Отступы между элементами истории */
  background-color: #f9f9f9; /* Цвет фона */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Тень для эффекта поднятия */
}

.game-header {
  font-weight: bold; /* Жирный шрифт для результата */
  margin: -20px 0;
  color: #000000; /* Цвет для победы */
  display: flex; /* Используем flexbox для выравнивания */
  justify-content: space-between; /* Разделяем элементы по краям */
  align-items: center; /* Выравниваем по центру по вертикали */
}

.game-players {
  font-size: 16px; /* Размер шрифта для игроков */
  margin: 5px 0; /* Отступы сверху и снизу */
}

.player {
  font-weight: bold; /* Жирный шрифт для имен игроков */
  color: #4476ff;
}

.winner-label {
  font-weight: bold; /* Жирный шрифт для метки победителя */
}