@tailwind base;
@tailwind components;
@tailwind utilities;


.square {
  background: #fff;
  border: 1px solid #999;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  padding: 0;
  text-align: center;
  width: 34px;
  display: inline-block; /* Изменено с float на inline-block */
}

.square-panel {
  background: #00a2ff;
  border: 1px solid rgb(0, 81, 255);
}

.square-disabled {
  background: #333; /* Темный фон для неактивной кнопки */
  color: #fff; /* Белый текст для контраста */
  border: 1px solid #666; /* Более светлый бордер для неактивной кнопки */
  cursor: not-allowed; /* Указатель "нельзя" при наведении */
}

.board {
  display: flex;
  flex-direction: column; /* Устанавливаем вертикальное направление для строк */
  margin: 50px;
}

.board-row {
  display: flex; /* Используем flexbox для строк */
}

.board-header {
  display: flex;
}

.board-header-cell {
  width: 34px; /* Ширина ячейки */
  height: 34px; /* Высота ячейки */
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  border: 1px solid #000;
}

.board-container {
  display: flex;
}

.container {
  display: flex; /* Используем Flexbox для выравнивания элементов в строку */
}
